   /* Body */
body {
font-family: 'Roboto',
sans-serif;
color: #434455;
background-color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

button {
cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: currentColor;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

   /* header-logo */

.container {
    max-width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-header {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.text-logo-header {
    color: #2E2F42;
}

   /* hover studio */
.blueline::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
}

.blueline {
    padding: 24px 0;
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E9FC;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.menu-header {
    display: flex;
    gap: 40px;
}

.menu-item-header {
    display: block;
    color: #2E2F42;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.menu-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover,
.menu-item-link:focus,
.address-data:hover,
.address-data:focus {
    color: #404BBF;
}


   /* address */

.address-data {
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-menu {
    display: flex;
    gap: 40px;
}

.address {
    font-style: normal;
    display: flex;
}

   /* button */

   .backcolor-bc {
       background-color: #2E2F42;
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
       padding: 188px 0;
       max-width: 1440px;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       margin: 0 auto;
   }

   .solution-button {
       color: #FFF;
       font-size: 56px;
       line-height: 1.07;
       letter-spacing: 0.02em;
       text-align: center;
       max-width: 496px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 48px;
   }

   .button-ord {
       background: #4D5AE5;
       color: #FFF;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.04em;
       display: block;
       margin: 0 auto;
       cursor: pointer;
       min-width: 169px;
       height: 56px;
       border: none;
       border-radius: 4px;
       box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }


   .button-ord:hover,
   .button-ord:focus {
       background: #404BBF;
       color: #FFF;
   }

   /* description */

   .titles-menu-desc {
       color: #2E2F42;
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
       letter-spacing: 0.02em;
       margin-bottom: 8px;
   }


   .hide-title {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }

   .menu-desc {
       display: flex;
       gap: 24px;

   }

   .items-menu-desc {
       flex-basis: calc((100% - 3 * 24px) / 4)
   }

   .icon-box {
       height: 112px;
       border-radius: 4px;
       border: 1px solid #8e8f99;
       background: #f4f4fd;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 8px;

   }

   /* our team */

   .our-team {
       background-color: #F4F4FD;
   }

   .team-title-team {
       color: #2E2F42;
       text-align: center;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       margin-bottom: 72px;
   }

   .items-list-team {
       background-color: #FFFFFF;
       border-radius: 0px 0px 4px 4px;
       background: #fff;
       box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   }

   .items-list-team:last-child {
       margin-right: 0;
   }

   .menu-team {
       display: flex;
       gap: 24px;
       flex-basis: calc((100% - 72px) / 4);
   }

   .members {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 8px;
       padding: 32px 0;
   }

   .names-team {
       margin-bottom: 8px;
       color: #2E2F42;
       text-align: center;
       font-family: Roboto;
       font-size: 20px;
       font-style: normal;
       font-weight: 500;
       line-height: 1.2;
       letter-spacing: 0.02em;
   }

   .icons-list {
       display: flex;
       justify-content: center;
       gap: 24px;
   }

   .icons-list-item {
       width: 40px;
       height: 40px;
   }

   .icons-link {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       background-color: #4d5ae5;
       border-radius: 50%;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.icon-x {
    fill: #f4f4fd;
}

.icons-link:hover { 
    background-color: #404bbf;
}

   .icons-link:focus {
       background-color: #404bbf;
   }
   .paragraf-studio {
    color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
   }


   /* PORTFOLIO */

   .sec-block {
       background: #FFF;
   }

   .our-port {
       color: #2E2F42;
       text-align: center;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       margin-bottom: 72px;
   }

   .title-port {
       color: #2E2F42;
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
       letter-spacing: 0.02em;
       margin-bottom: 8px
   }


   .port-list {
       width: calc((100% - 48px) / 3);
       padding-left: 0;
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .port-list:hover .overlay {
       transform: translateY(0%);

   }

   .port-list:hover {
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
           0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }

   .card-list {
       padding: 32px 16px;
       text-align: left;
       border: 1px solid #E7E9FC;
       border-top: none;
   }

.menu-port {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    flex-wrap: wrap;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.abajo {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    overflow: auto;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraf {
    color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;;
}

   /* FOOTER */

.bck-col {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 312px;
}

.span-logo {
    color: #F4F4FD;
}

.part-foot {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-foot {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.main-cont {
    margin-right: 120px;
}

   /* social media */

.sm-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.fut-cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0;
}

.footer-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}


        /* BACKDROP */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    }
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
    
.modal {
    width: 288px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* closebutton */
.button-modal-close {
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    }
.button-modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.button-modal-close:hover, .button-modal-close:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
    }
.button-modal-close-icon:hover, .button-modal-close-icon:focus {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /* form!!!!!!!!! */
.modal-container-name {
    margin-bottom: 8px;
        }
.paragraf-modal {
    color:#2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
        }
.modal-label-name {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
    }
.input-cont {
    position: relative;
        }
.input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus {
    border-color: #4D5AE5;
}
.input-name:hover {
    border-color: #4D5AE5;
}
.svg-icon {
    position: absolute;
    display: block;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon {
    transform: translateY(-50%);
}
.small-size {
    width: 12px;
    height: 15px;
    transform: translateY(-50%);

}
.input-name:focus + .svg-icon {
    fill: #4D5AE5;

}
.input-name:hover + .svg-icon {
    fill: #4D5AE5;
}
.svg-icon:hover {
    fill: #4D5AE5;
}
/* textarea */
.textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}
.textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);  
}
.modal-container-comment {
    margin-bottom: 16px
}
.textarea:focus, .textarea:hover {
    border-color: #4D5AE5;
}

/* chechboxxxx */
.checkbox-box {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8e8f99;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer;
    color: transparent;
}

.checkbox-box:checked+.checkbox-label>.checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-box:focus+.checkbox-label>.checkbox-span {
    border: 1px solid #404bbf;
}
.checkbox-box:hover+.checkbox-label>.checkbox-span {
    border: 1px solid #404bbf;
}
.checkbox-link {
    color: #4d5ae5;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link:hover,
.checkbox-link:focus {
    outline: 0px transparent;
    color: #404bbf;
}
.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.form-button:hover,
.form-button:focus {
    background-color: #404bbf;
}
.checkbox-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* socialsendcont */

.sm-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;


}.social-send-cont {
    margin-left: auto;
}
.form {
    display: flex;
    gap: 24px;
    
}
.form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: #ffffff;
}
.form-input:hover,.form-input:focus {
    border-color:#31D0AA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.submit-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
    }
    .svg-button {
        margin-left: 16px;
    }
.submit-button:hover,
.submit-button:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .form-input::placeholder {
            color: #fff;
        }